- name: Post Migration
  hosts: localhost
  gather_facts: no
  roles:
    - role: post_migration
      vars:
        checks:
          - "oc wait co --all --for='condition=Available=True' --timeout=60s"
          - "oc wait co --all --for='condition=Progressing=False' --timeout=60s"
          - "oc wait co --all --for='condition=Degraded=False' --timeout=60s"
        expected_network_type: OVNKubernetes
        network_provider_config: openshiftSDNConfig
        namespace: openshift-sdn
        clean_migration_timeout: 120
