---
- name: Resume MCPs after reboot
  network.offline_migration_sdn_to_ovnk.resume_mcp:
    timeout: 1800
    sleep_interval: 10

- name: Wait until MCO starts applying new machine config to nodes
  network.offline_migration_sdn_to_ovnk.wait_for_mco:
    timeout: "{{ post_rollback_mco_timeout }}"
  register: mco_status

- name: Print MCO status message
  ansible.builtin.debug:
    msg: "{{ mco_status.msg }}"

- name: Check all cluster operators back to normal
  network.offline_migration_sdn_to_ovnk.verify_cluster_operators_health:
    max_timeout: 3600
    pause_between_checks: 30
    required_success_count: 3
    checks: "{{ post_rollback_checks }}"
  register: result
  notify: Show cluster operators status

- name: Verify machine configuration status on nodes
  network.offline_migration_sdn_to_ovnk.verify_machine_config:
    timeout: "{{ post_rollback_verify_machine_config_timeout }}"
    network_type: "OpenShiftSDN"

- name: Check the CNI network provider
  network.offline_migration_sdn_to_ovnk.check_network_provider:
    expected_network_type: "{{ post_rollback_expected_network_type }}"
  register: result

- name: Display the result of the network provider check
  ansible.builtin.debug:
    msg: "{{ result.msg }}"

- name: Check if all cluster nodes are in Ready state
  network.offline_migration_sdn_to_ovnk.check_nodes_ready:
  register: node_status

- name: Notify user about NotReady nodes
  ansible.builtin.debug:
    msg: >
      The following nodes are not in the Ready state:  {{ node_status.not_ready_nodes | map(attribute='name') | join(', ') }}.
      Please investigate machine config daemon pod logs.

  when: node_status.not_ready_nodes | length > 0

- name: Display command to list machine config daemon pods
  ansible.builtin.debug:
    msg: |
      Run the following command to list machine config daemon pods:
      oc get pod -n openshift-machine-config-operator
      Example output:
      NAME                                         READY   STATUS    RESTARTS   AGE
      machine-config-controller-75f756f89d-sjp8b   1/1     Running   0          37m
      machine-config-daemon-5cf4b                  2/2     Running   0          43h
      ...
      Run the following command to view logs for each pod:
      oc logs <pod_name> -n openshift-machine-config-operator

  when: node_status.not_ready_nodes | length > 0

- name: Confirm that no pods are in an error state
  ansible.builtin.command: oc get pods --all-namespaces -o wide
  register: all_pods
  changed_when: false        # <- marks the task as "ok" instead of "changed"

- name: Notify user if any pods are in an error state
  ansible.builtin.debug:
    msg: |
      Investigate pods that are not in a Running state.
      If necessary, reboot the node where the affected pods are scheduled.

  when: "'Error' in all_pods.stdout or 'CrashLoopBackOff' in all_pods.stdout"

- name: Patch Network.operator.openshift.io and wait for migration field to clear
  network.offline_migration_sdn_to_ovnk.clean_migration_field:
    timeout: "{{ post_rollback_clean_migration_timeout }}"

- name: Remove network configuration and namespace
  network.offline_migration_sdn_to_ovnk.manage_network_config:
    network_provider_config: "{{ post_rollback_network_provider_config }}"
    namespace: "{{ post_rollback_namespace }}"
  register: result

- name: Notify user about the result
  ansible.builtin.debug:
    msg: "{{ result.msg }}"

- name: Check all cluster operators back to normal
  network.offline_migration_sdn_to_ovnk.verify_cluster_operators_health:
    max_timeout: 2700
    pause_between_checks: 30
    required_success_count: 3
    checks: "{{ post_rollback_checks }}"
  register: result
